Node-red json
[
    {
        "id": "cdcba689ef9630cc",
        "type": "tab",
        "label": "Sensor Data",
        "disabled": true,
        "info": ""
    },
    {
        "id": "da12b4a1317087f6",
        "type": "mqtt in",
        "z": "cdcba689ef9630cc",
        "name": "",
        "topic": "iotfrontier/vibration",
        "qos": "0",
        "datatype": "auto",
        "broker": "955bcde859f16ea1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1c3fedd010224d92",
                "03613a97ad019eb3"
            ]
        ]
    },
    {
        "id": "1c3fedd010224d92",
        "type": "ui_chart",
        "z": "cdcba689ef9630cc",
        "name": "Vibration",
        "group": "d9b2d169.a83618",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Vibration",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "03613a97ad019eb3",
        "type": "function",
        "z": "cdcba689ef9630cc",
        "name": "Prepare Data for Prediction",
        "func": "msg.payload = {\n    \"Vibration\": msg.payload.vibration,\n    \"Noise\": msg.payload.noise,\n    \"Voltage\": msg.payload.voltage,\n    \"Current\": msg.payload.current,\n    \"Rpm\": msg.payload.rpm,\n    \"Temperature\": msg.payload.temperature,\n    \"Efficiency\": msg.payload.efficiency\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "5268e8f1a34db7f1"
            ]
        ]
    },
    {
        "id": "7b8b231b3225169a",
        "type": "debug",
        "z": "cdcba689ef9630cc",
        "name": "Prediction Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "5ae6a392a6f55ba9",
        "type": "mqtt in",
        "z": "cdcba689ef9630cc",
        "name": "",
        "topic": "iotfrontier/noise",
        "qos": "0",
        "datatype": "auto",
        "broker": "955bcde859f16ea1",
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "1e00d1de625a6bc8",
                "03613a97ad019eb3"
            ]
        ]
    },
    {
        "id": "1e00d1de625a6bc8",
        "type": "ui_chart",
        "z": "cdcba689ef9630cc",
        "name": "Noise",
        "group": "d9b2d169.a83618",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Noise",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4b80f56172439c88",
        "type": "mqtt in",
        "z": "cdcba689ef9630cc",
        "name": "",
        "topic": "iotfrontier/voltage",
        "qos": "0",
        "datatype": "auto",
        "broker": "955bcde859f16ea1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "2197f7b9e9f57544",
                "03613a97ad019eb3"
            ]
        ]
    },
    {
        "id": "2197f7b9e9f57544",
        "type": "ui_chart",
        "z": "cdcba689ef9630cc",
        "name": "Voltage",
        "group": "d9b2d169.a83618",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f06dba523f27f011",
        "type": "mqtt in",
        "z": "cdcba689ef9630cc",
        "name": "",
        "topic": "iotfrontier/current",
        "qos": "0",
        "datatype": "auto",
        "broker": "955bcde859f16ea1",
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "685e9e7415fbe046",
                "03613a97ad019eb3"
            ]
        ]
    },
    {
        "id": "685e9e7415fbe046",
        "type": "ui_chart",
        "z": "cdcba689ef9630cc",
        "name": "Current",
        "group": "d9b2d169.a83618",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "0ca401766abd5983",
        "type": "mqtt in",
        "z": "cdcba689ef9630cc",
        "name": "",
        "topic": "iotfrontier/rpm",
        "qos": "0",
        "datatype": "auto",
        "broker": "955bcde859f16ea1",
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "3c0e88116d464dc9",
                "03613a97ad019eb3"
            ]
        ]
    },
    {
        "id": "3c0e88116d464dc9",
        "type": "ui_chart",
        "z": "cdcba689ef9630cc",
        "name": "RPM",
        "group": "d9b2d169.a83618",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "RPM",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "067ffdea9bff83ce",
        "type": "mqtt in",
        "z": "cdcba689ef9630cc",
        "name": "",
        "topic": "iotfrontier/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "955bcde859f16ea1",
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "382d9f8f0c4a056e",
                "03613a97ad019eb3"
            ]
        ]
    },
    {
        "id": "382d9f8f0c4a056e",
        "type": "ui_chart",
        "z": "cdcba689ef9630cc",
        "name": "Temperature",
        "group": "d9b2d169.a83618",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "524992e72e72459d",
        "type": "mqtt in",
        "z": "cdcba689ef9630cc",
        "name": "",
        "topic": "iotfrontier/efficiency",
        "qos": "0",
        "datatype": "auto",
        "broker": "955bcde859f16ea1",
        "inputs": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "0e0eee0ff76d1ec8",
                "03613a97ad019eb3"
            ]
        ]
    },
    {
        "id": "0e0eee0ff76d1ec8",
        "type": "ui_chart",
        "z": "cdcba689ef9630cc",
        "name": "Efficiency",
        "group": "d9b2d169.a83618",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Efficiency",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5268e8f1a34db7f1",
        "type": "http request",
        "z": "cdcba689ef9630cc",
        "name": "Get Prediction",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.43.173:5000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "7b8b231b3225169a"
            ]
        ]
    },
    {
        "id": "955bcde859f16ea1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d9b2d169.a83618",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "d509f1ba.d9074",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d509f1ba.d9074",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
